SECRET_KEY=your_django_secret
DEBUG="True"
POSTGRES_DB="atom_habits"
POSTGRES_HOST="db"
POSTGRES_PORT="5432"
POSTGRES_PASSWORD="1234"
POSTGRES_USER="postgres"
CELERY_BROKER_URL="redis://redis:6379"
CELERY_RESULT_BACKEND="redis://redis:6379"
TG_TOKEN=your_telegram_bot_token