SECRET_KEY=your_django_secret
DEBUG="True"
DB_NAME=your_db_name
DB_HOST=yout_db_host
DB_PORT=your_db_port
DB_PASS=your_db_password
DB_USER=your_db_user
CELERY_BROKER_URL=yout_celery_broker_url
CELERY_RESULT_BACKEND=your_celery_result_backend
TG_TOKEN=your_telegram_bot_token